*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji
  overflow-x: hidden

body 
  width: 100vw
  height: 100vh
  background: #1a1a1a
  display: flex
  justify-content: center
  align-items: center

#root 
  position: relative
  width: 100%
  min-width: 768px
  max-width: 1440px
  height: 100%
  padding: 5px 10px
  box-shadow: 0 0 16px 2px #5555555d
  overflow-y: auto
  
.page 
  min-width: 1036px
  max-width: 1440px

.card 
    min-width: 300px
    min-height: 184px
    border-radius: 10px
    padding: 21px 16px
    background: #282828
    color: #bdbfc2
    user-select: none
